.boxes {
    display: flex;
    flex-direction: column;
}

.quote-container {
    padding: 10% 35% 10% 35%;
}

.quote-text {
    text-indent: 8%;
    text-align: justify;
    line-height: 1.3cm;
}

.quote-author {
    margin-top: 10%;
    text-align: right;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
    padding-top: 1%;
    padding-bottom: 1%;
}

.footer-text {
    text-align: center;
    font-size: 17px;
}

@media (max-width: 800px) {
    .quote-container {
        padding: 25% 15% 10% 15%;
    }
    .quote-container {
        font-size: 10px;
    }
    .quote-text {
        line-height: 0.8cm;
    }
}

@media (max-width: 320px) {
    .quote-container {
        font-size: 8px;
    }
    .quote-container {
        padding: 70% 15% 10% 15%;
    }
    .quote-text {
        line-height: 0.8cm;
    }
}
