@mixin desktop {
  @media screen and (min-height: 768px) and (max-height: 1280px){
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

.s-container {
  width: 100%;
  height: 80vh;
  @include for-phone-only {
    height: 95vh;
  }

  .swiper-pagination {
    @include for-phone-only {
      display: none;
    }
    @include for-tablet-portrait-up {
      display: none;
    }
    @include for-tablet-portrait-up {
      display: block;
    }
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .s-slide {
    padding: 250px 350px;
    @include for-phone-only {
      padding: 10px 50px 10px 70px;
    }
    @include for-tablet-portrait-up {
      padding: 100px;
    }
  }

  .s-author {
    text-indent: 5%;
    margin-bottom: 25px;
    @include for-phone-only {
      font-size: 10px;
    }
  }

  .s-title {
    @include for-phone-only {
      font-size: 30px;
    }
    @include for-tablet-portrait-up {
      font-size: 45px;
    }
  }

  .footer-text {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include for-phone-only {
      font-size: 10px;
    }
  }
}
