button {
    width: 54px;
    height: 36px;
    border: none;
    background: lightskyblue;
    border-radius: 40px;
    box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.25);
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
    box-shadow: 5px 4px 4px 1px rgba(0, 0, 0, 0.55);
}

.button-container {
    position: fixed;
    bottom: 30%;
    right: 40%;
}

@media (max-width: 800px) {
    button {
        margin-top: 15%;
    }
    .button-container {
        bottom: 20%;
    }
}

@media (max-width: 320px) {
    button {
        margin-top: 15%;
    }
    .button-container {
        bottom: 20%;
    }
}
